images/Joel (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        -60
      ],
      "id": "dbf5b1b6-85b3-44c4-b2ff-d052011af4e5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1IACdoeyVFJMcA17VcVRLM_oPPeszzXqI",
            "mode": "list",
            "cachedResultName": "moodLift",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1IACdoeyVFJMcA17VcVRLM_oPPeszzXqI"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -360,
        -60
      ],
      "id": "c56c76c0-9f98-413c-b19e-3901b3a4cf46",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xFQGEwPPNL9I4mSI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -140,
        -60
      ],
      "id": "3b429cfd-2802-4943-82ac-aa0a5ec6ed48",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xFQGEwPPNL9I4mSI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "moodlift",
          "mode": "list",
          "cachedResultName": "moodlift"
        },
        "embeddingBatchSize": 1000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        160,
        -60
      ],
      "id": "75955f5d-922b-4f7e-94f8-f826f0291f1d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "UDd6IHhWUfKbr16N",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        160
      ],
      "id": "d990ecda-cd96-4e15-80b0-29b7408ef124",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "jJMf5XAhLBOrHhfb",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        340,
        160
      ],
      "id": "39486c55-26c8-4275-a406-03f75eb081e9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        380,
        360
      ],
      "id": "e76a0719-4386-4ecd-aaae-b14213f5484c",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e67915af-edad-433f-b096-1590e1473aa7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aad673d325b52f741c0d09fdb0038f5eb5824f5a174f1ff8d00767059ad88e8c"
  },
  "id": "xkh5qETVQD2fZDvb",
  "tags": []
}